:root {
    --primary: #0066cc;
    --secondary: #004080;

    --background: #f7f7f7ff;
    --secondary-bg: #bfbdc1ff;
    --dim-gray: #6d6a75ff;
    --font: #37323eff;

    --gold-metallic: #deb841ff;
    --hunyadi-yellow: #de9e36ff;
  }

/* Font */
body {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--font);
}

/* Links */
a {
    color: var(--primary);
    text-decoration: none;
    transition: color 0.2s ease;
}
a:hover {
    color: var(--secondary);
}

/* Form inputs */
input[type="text"],
input[type="password"] {
    font-family: 'JetBrains Mono', sans-serif;
    padding: 5px;
    border: .5px solid var(--secondary-bg);
    border-radius: 2px;
    font-size: 13px;
    color: var(--font);
    background-color: var(--background);
    margin-bottom: 10px;
}
input[type="submit"] {
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: var(--primary);
    border: none;
    border-radius: 2px;
    font-size: 13px;
    color: var(--background);
    cursor: pointer;
    transition: background-color 0.2s ease;
}
input[type="submit"]:hover {
    background-color: var(--secondary);
}

/* Page layout */
.page {
    max-width: 700px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px;
}

/* Headings */
h1, h2, h3 {
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}
h1 {
    margin-top: 0;
    font-size: 36px;
}
h2 {
    margin-top: 10px;
    font-size: 24px;
}

/* Navigation */
.navigation {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.navigation a {
    color: var(--primary);
    font-weight: bold;
    margin-right: 20px;
}
.navigation a:last-child {
    margin-right: 0;
}

/* Messages */
.messages {
    list-style: none;
    margin: 0;
    padding: 0;
}
.messages li {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--background);
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.messages p {
    margin: 0;
}
.messages img {
    float: left;
    margin-right: 10px;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

/* Error messages */
.error {
    margin: 10px 0;
    background-color: #fff6f6;
    border: 1px solid #e0b4b4;
    border-radius: 2px;
    padding: 10px;
    font-size: 14px;
    color: #9f3a38;
}

/* Success messages */
.success {
    margin: 10px 0;
    background-color: #fcfff5;
    border: 1px solid #bce8bc;
    border-radius: 2px;
    padding: 10px
}

/* Flash message styles */
.flashes {
    margin: 10px 0;
    background-color: #fcfff5;
    border: 1px solid #bce8bc;
    border-radius: 2px;
    padding: 10px
  }