<!doctype html>
<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link rel=stylesheet type=text/css href="/static/style.css">
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
  {{ if .loggedin }} <!-- needs gin equivalent to g.user. Is it .user? -->
    <a href="/">my timeline</a> |
    <a href="/public">public timeline</a> |
    <a href="/logout">sign out</a>
  {{ else }}
    <a href="/public">public timeline</a> |
    <a href="/register">sign up</a> |
    <a href="/login">sign in</a>
  {{ endif }}
  </div>
  {% with flashes = .flashes %}
    {% if flashes %}
      {{range .flashes}}{{.}}{{end}}
    {% endif %}
  {% endwith %}
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    MiniTwit &mdash; A Gin Web Application
  </div>
</div>
