<!doctype html>
<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;800&display=swap');
  </style>
  <title>Sign in | MiniTwit</title>
  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="../static/favicon_io/site.webmanifest">
</head>
<link rel=stylesheet type=text/css href="/static/style.css">
<div class=page>
  <h1>🐣 MiniTwit</h1>
  <div class=navigation>
  {{ if .user }}  
    <a href="/">my timeline</a>
    <a href="/public">public</a>
    <a href="/logout">sign out</a>
  {{ else }}
    <a href="/public">public timeline</a>
    <a href="/register">sign up</a>
    <a href="/login">sign in</a>
  {{ end }}
  </div>
  <div class=body>
    <h2>Sign In</h2>
    {{ if .error }}<div class=error><strong>Error:</strong> {{ .error }}</div>{{ end }}
    <form action="" method=post>
      <dl>
        <dt>Username:
        <dd><input type=text name=username size=30 value="{{ .form.username }}">
        <dt>Password:
        <dd><input type=password name=password size=30>
      </dl>
      <div class=actions><input type=submit value="Sign In"></div>
    </form>
  </div>
  <div class=footer>
    MiniTwit &mdash; A Gin Web Application
  </div>
</div>